* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
overflow-x: hidden;

}
a {
    text-decoration: none;
}

.top {
    background-color: #EFEFEF;
    text-align: center;
}
.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 5px;
}
ul {
    padding: 17px 16px;
    list-style-type: none;  
}

ul li{
    padding: 14px;
    display: inline;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
ul li a {
    text-decoration: none;
    color: #333333;
}
.menu {
    height: 180px;
}
.brand {
    overflow: auto;
}
.logo {
    float: left;
    margin: 20px 20px 14px 0;
    
}
h1 {
    float: left;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    
}

.call {
    float: right;
    overflow: auto;
    text-decoration: none;
}

.numb {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 38px;
    text-decoration: none;
}
.reCall {
    display: inline-block;
    margin-top: 40px;
    box-sizing: border-box;
    max-width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    transition: all 500ms ease; 
    padding: 10px 20px 10px 25px;
}
.reCall:hover {
    background: rgba(0,0,0,0);
    color: #F13C6E;
    box-shadow: inset 0 0 0 3px #F13C6E;
}
.reCall a:visited {
    color: #000000;
}
.second_menu_ul {
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0 30px 0;
}

.second_menu_li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 18px;
}
.promo {
    min-height: 607px;
    background: url(../img/promo_chair.jpg) center center/cover no-repeat;
    margin-top: 18px;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding-top: 192px;
}
.text_chair {
    margin-top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.detailed {
    margin-top: 46px;
    box-sizing: border-box;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    transition: all 500ms ease; 
}
.detailed:hover {
    background: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0 0 0 3px white;
}
.detailed_a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.goods {
    background: #E5E5E5;
    padding-bottom: 82px;
}

.goods_top {
    clear: both;
  display: table;
}
.goods .special {
    padding-top: 77px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 38px;
}
.left {
    float: left;
}
.card {
    margin: 0 11px 0 11px;
    width: 255px;
    background: #FFFFFF;
    /* margin-right: 26px; */
    text-align: center;
    padding-top: 25px;
    overflow: auto;
}
.card:last-child {
    margin: 0;
}
.card_deskr {
    padding: 14px 0 17px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;

}

.card_buy {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 130px;
    left: 467px;
    top: 1303px;
    background: #F13C6E;
    border-radius: 30px;
    border-color: transparent;
    box-sizing: border-box;
    transition: all 500ms ease; 
}
.card_buy:hover {
    background: rgba(0,0,0,0);
    color: #F13C6E;;
    box-shadow: inset 0 0 0 3px #F13C6E;;
}

.card_price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;    
}
.buy_text {
    padding: 9px 38px 10px 36px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}
.buy_text:hover {
    color: #F13C6E;  
}
.pink_blocks {
    display: block;
    margin-top: 100px;
    vertical-align: top;
}
.pink_blocks_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pink_block_big_wrapper {
    display: inline-block;
}
.pink_block {
    vertical-align: top;
    display: inline-block;
    width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-right: 26px;
    padding: 35px 0 0 40px;
}
.pink_block:last-child {
    margin-right: 0;
}

.pink_block h3 {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pink_block_deskr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
form input {
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    border-color: transparent;
    padding-left: 24px;
}
.pink_wrap {
    display: inline-block;
}
.pink_img {
    margin: 17px 45px 0 0;
    float: right;
}
.store_map {
display: block;
width: 170px;
height: 35px;
background: #F13C6E;
border: 2px solid #FFFFFF;
border-radius: 30px;
transition: all 500ms ease; 
}
.store_map:hover {
    background: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0 0 0 3px white;
}
.store_map span {
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
padding: 9px 0 0 29px;

}

td, table , tr {
    background-color: white;
    border: 1px solid #EFEFEF;
}
table {
    margin-top: 100px;
    width: 1110px;
    height: 358px;
    border-collapse: collapse;
    text-align: center;
}
.table_response {
    overflow-x: auto;
}
.popular_category {
    margin: 58px 22px 60px 0;
    display: inline-block;
    width: 255px;
    height: 253px;
}
.popular_category:last-child {
    margin-right: 0;
}
.titel_cat {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    margin-bottom: 22px;
}
.cat_links {
    padding: 0 0 0 0;
    margin-top: 25px;
}
.cat_links ul{
    padding: 0 0 0 0;

}


.cat_links li {
    display: block;
    padding: 0 0 0 0;
}
.cat_links a:visited {
    color: #828282;
}

.cat_links_list {
    padding: 0 0 0 0;
}
.cat_links a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}
.contacts {
    display: block;
    overflow: auto;
}
.social {
    
    float: left;
    overflow: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}
.social_icon {
    padding-right: 15px;
}
.roots {
    display: block;
    min-height: 64px;
    background: #EFEFEF;
    padding: 25px 0 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    }
.roots_wrp {
    display: flex;
    justify-content: space-between;
}
.protect {
    display: inline-block;
    
}
.confidentials {
    display: inline-block;
}

.hide {
    display: none;
}
.menu_button {
    display: none;
}
.break {
    display: none;
}
@media (max-width: 1096px) {
    .goods_top  {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    .break {
        display: block;
        flex-basis: 100%;
        height: 0;
    }
    .pink_blocks_wrapper {
        justify-content: center;
    }
      
    .pink_block_big_wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 15px;
    }
    .popular_category {
        margin: 57px 0px 60px 0;
        width: 25%;
    }
    
    
    .card {
       width: 47%;
        margin-top: 15px;
    }
    .card:last-child {
        margin: 15px 11px 0 11px;
    }

}
@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        position: relative;
        max-width: 760px;
        padding-right: 5px;
    }
    ul li {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 10px;
        
    }
    .top_menu li a {
        color: #FFFFFF;
        margin-top: 0;
    }
    .reCall {
        height: auto;
        padding: 10px 20px 10px 20px;
    }
    .top_menu li .reCall span {
        color: #000000;
    }
    .numb {
        margin: 0;
        
    }
    .menu {
        height: auto;
    }
    .menu hr {
        display: none;
    }
    .hide {
        display: block;
    }
   
   
    .call a {
        display: none;
    }
    .second_menu_ul {
        display: none;
        font-weight: 600;
        font-size: 30px;
    }
    .menu_button {
        display: block;
        position: absolute;
        right: 0;
        color: #F13C6E;
        font-size: 50px;
        margin: 10px;
    }
    .top_menu {
        display: none;
        
    }
    .top_nav.active .top_menu{
        position: absolute;
        z-index: 1;
        background: #F13C6E;
        top: 86px;
        display: block;
        height: auto;
        width: 100%;
       
    }
    
    .logo {
        display: flex;
        margin: 10px;
        margin-right: 0;
    }
   
    .logo img {
        display: flex;
        max-width: 83%;
    }

    h1 {
        display: flex;
       margin: 21px 0 0 0;
       
       
    }
    .promo {
        margin-top: 0;
    }

    .special {
        display: block;
        
    }
    .goods .special {
        padding-top: 0px;
    }

    .goods_top {
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
        margin: 0 auto;
        display: block;
        overflow: hidden;
    }
    .card {
       margin: 5px;
        width: 48%;
    }
    .card_buy {
        display: inline-block;
        margin: 0;
        margin-bottom: 10px;
    }

    .card:last-child  {
        margin: 5px ;
    }
    .pink_blocks {
        margin-top: 0;
    }
    .pink_block {
        margin: 5px;
        width: 98vw;
        margin: 5px;
    }
    table {
        margin-top: 35px;
    }
    .popular_category {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: fit-content;
    }
    .popular_category hr {
        display: none;
    }
    .cat_links {
        margin-top: 0;
    }
    .popular_category .titel_cat {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .popular_category a {
        font-size: 12px;
        line-height: 25px;
    }
    .popular_category:last-child {
        margin-right: auto;
    }
    .social {
        float: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .roots {
        padding: 5px;
        margin: 0 auto;
        text-align: center;
        min-height: 50px;
    }
    .protect {
        margin: 0 auto;
    }
    .confidentials {
        margin: 0 auto;
   }
}

@media screen and (max-width: 540px) {
    .pink_block {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;

    }
    .card {
        width: 100%;
    }
    .pink_wrap {
        text-align: center;

    }
    .pink_wrap h3 {
        text-align: center;
    }
    .pink_block_deskr {
        text-align: center;
    }
    .pink_img {
        float: none;
        position: absolute;
        display: flex;
        opacity: .3;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
    .store_map {
        margin: 0 auto;
    } 
   
}